$default: #888;
$primary: #428bca;

body {
  padding: 0 0 2em 0;
}

section {
  padding: 5em 0 0 0;
}

.theme-redfield {
  color: $default;
  h2 {
    font-weight: inherit;
    margin: 0 0 1em 0;
    color: $default;
  }
  h3 {
    font-weight: inherit;
    color: black;
  }
}

.bio {
  font-size: 1.2em;
  strong {
    font-weight: inherit;
    color: black;
  }
}

.skills span {
  display: inline-block;
  margin: 0.5em 0.5em 0 0;
  padding: .5em;
}

.social {
  letter-spacing: 1em;
  a {
    color: $default;
    &:hover {
      text-decoration: none;
      .icon-skype {
        color: $primary;
      }
      .icon-envelope {
        color: #d14836;
      }
      .icon-linkedin-sign {
        color: $primary;
      }
      .icon-github {
        color: #333;
      }
      .icon-trello {
        color: $primary;
      }
    }
  }
}
