<div class="row">
  <div class="col-xs-8">
    <h1>Скуридин Евгений</h1>
    <p class="lead">Backend-разработчик (PHP)</p>
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><a href="mailto:{{email}}">{{email}}</a></dd>
      <dt>Skype</dt>
      <dd><a href="skype:{{skype}}">{{skype}}</a></dd>
    </dl>
  </div>
  <div class="col-xs-4">
    <img src="img/iam.jpg" alt="Yevgeny Skuridin" class="img-rounded pull-right">
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-3">
    <h3>О себе</h3>
  </div>
  <div class="col-xs-9">
    <p>
      Родился в Узбекистане. Работаю в сфере интернет разработок с 2009 года. Весной 2012 года переехал в Москву, чтобы трудиться над стартапом flatora.ru. Есть желание изучить Ruby, Node.js и MongoDB. Люблю точность, новые технологии, упрощать и автоматизировать.
    </p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-3">
    <h3>Навыки</h3>
  </div>
  <div class="col-xs-4">
    <p class="lead">Разработка</p>
    <p>
      Разработка сайтов с помощью PHP, MYSQL. Оптимизация, автоматизация, подготовка к нагрузкам, интеграция со сторонними сервисами.
    </p>
  </div>
  <div class="col-xs-4 col-xs-offset-1">
    <p class="lead">Управление разработкой</p>
    <p>
      Грамотное составление задач, стараюсь не придумывать ничего лишнего и сосредоточиться только на главном. Лучше сделать мало, но качественно.
    </p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-3">
    <h3>Чем владею</h3>
  </div>
  <div class="col-xs-9">
    <dl class="dl-horizontal">
      <div data-ng-repeat="skill in skills">
        <dt>{{skill.title}}</dt>
        <dd>
          <div class="progress progress-striped">
            <div style="width:{{skill.percent}}%" class="progress-bar"></div>
          </div>
        </dd>
      </div>
    </dl>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-3">
    <h3>Опыт работы</h3>
  </div>
  <div class="col-xs-9">
    <div class="job-item" data-ng-repeat="job in experience">
      <div class="row">
        <div class="col-xs-10">
          <blockquote>
            <p>{{job.title}}</p><small>{{job.position}}</small>
          </blockquote>
        </div>
        <div class="col-xs-2">
          <p class="pull-right">
            {{job.start}}&mdash;{{job.finish}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9">
          <p>
            {{job.description}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
