<div class="hero-unit">
  <h1>Привет, мир!</h1>
  <br>
  <p class="lead">
    Меня зовут Женя, мне 22 года и я backend-программист,
    хотя и frontend люблю. Разрабатываю проекты с помощью
    <strong>PHP</strong>, <strong>MYSQL</strong>,
    <strong>Yii</strong> и т.д. и т.п.
    Еще мне очень сильно нравятся Ruby, NODE.JS и MongoDB. В дальнейшем хотел
    бы перейти на них в качестве основных инструментов разработки.
  </p>
  <p><a href="#!/cv" class="btn btn-primary btn-large">Взглянуть на резюме</a></p>
</div>
