doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title #{appTitle} | Web-разработчик
    meta(name="description", content=description)
    meta(name="author", content=appTitle)
    meta(name="robots", content="all")
    meta(name="google-site-verification", content="UjyqYrXn-j_1Ev5JhHL0jWq_7R7SvANjcAuwYZYKSso")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,cyrillic")
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css", rel="stylesheet")
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", rel="stylesheet")
    //if lt IE 9
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    link(rel="stylesheet", href="css/style.css")

  body(itemscope, itemtype="http://schema.org/Person")
    .container.theme-redfield
      section#about-me
        h2.text-center Привет, мир!
        .row
          .col-md-2.visible-lg.visible-md
            img(src="img/i.jpg", alt="Суровый", itemprop="image").img-thumbnail
          .col-md-10.bio
            p.
              Меня зовут Женя, мне 23 года и я
              <strong itemprop="jobTitle">web-разработчик</strong>. Пишу на <strong>PHP</strong>,
              использую <strong>MYSQL</strong>, <strong>Yii</strong>, <strong>Laravel</strong>,
              <strong>GruntJs</strong> и т.д. и т.п. Еще мне очень сильно нравятся
              <strong>Ruby</strong>, <strong>NODE.JS</strong> и <strong>MongoDB</strong>.
              В дальнейшем хотел бы перейти на них в качестве основных инструментов разработки.
            p.
              Родился в Узбекистане. Пишу код с 2009 года. Весной 2012 года переехал в Москву, чтобы трудиться
              над стартапом <strong>flatora</strong>.ru, позже перебрался в Екатеринбург.
              Люблю точность, новые технологии, упрощать и автоматизировать.

      section#experience
        h2.text-center Опыт работы
        .row
          .col-md-4.col-sm-6(itemprop="worksFor", itemscope, itemtype="http://schema.org/Organization")
            h3 <span itemprop="name">Vault Couture</span> <small>2013...</small>
            p Расскажу, если поменяю место работы.
          .col-md-4.col-sm-6(itemprop="worksFor", itemscope, itemtype="http://schema.org/Organization")
            h3 <span itemprop="name">Flatora</span> <small>2011-2013</small>
            p.
              Здесь у меня появился первый опыт интеграции со сторонними проектами. Сначала подключал карты от Yandex,
              даже ходил на конференции, чтобы успеть задать пару вопросов их разработчикам. Речь идет об использовании
              данных с карт для организации контента и помощи при его создании. Подключал два сервиса SMS рассылки с
              совершенно разными API. Плотно познакомился с Git, и должен признаться, мне очень нравится эта система
              контроля версий. Участвовал не только в разработке, но и в вопросах оптимизации, генерации идей,
              постановке задач.
          .clearfix.visible-sm
          .col-md-4.col-sm-6(itemprop="worksFor", itemscope, itemtype="http://schema.org/Organization")
            h3 <span itemprop="name">Купиотпуск</span> <small>2011-2012</small>
            p.
              Первый опыт работы в большой команде. Дела с самого начала пошли очень хорошо. Познакомился с SVN,
              Redmine. Работал с платежными системами, сервисами email рассылок и в целом поддерживал сайт.
          .clearfix.visible-md.visible-lg
          .col-md-4.col-sm-6(itemprop="worksFor", itemscope, itemtype="http://schema.org/Organization")
            h3 <span itemprop="name">Brandbox Creative</span> <small>2010-2011</small>
            p.
              Работа была похожа на конвейер. Сайты-визитки, корпоративные порталы и т.п. Не только программировал,
              иногда и дизайн рисовал. Больше всего мне понравилось на этом месте работы то, что я общался
              непосредственно с клиентами, заказчиками, изучал этот бизнес.
          .clearfix.visible-sm
          .col-md-4.col-sm-6(itemprop="worksFor", itemscope, itemtype="http://schema.org/Organization")
            h3 <span itemprop="name">Comnet ISP</span> <small>2009-2010</small>
            p.
              Мой первый опыт разработки за деньги. В основном делал небольшие корпоративные сайты.
              Провайдеру необходимо было создать музыкальный портал. Я придумал этот проект, описал то,
              каким он должен быть. В дальнейшем помогал в его разработке и наполнял контентом.

      section#skills
        h2.text-center Навыки
        .row
          .col-md-4
            h3 Разработка
            p.
              Разработка сайтов с помощью PHP, MYSQL. Оптимизация, автоматизация, подготовка к нагрузкам, интеграция
              со сторонними сервисами.
          .col-md-4
            h3 Управление
            p.
              Грамотное составление задач, стараюсь не придумывать ничего лишнего и сосредоточиться только на главном.
              Лучше сделать немного меньше, но качественно.
          .col-md-4
            h3 Чем владею
            p.skills
              each val in skills
                - var label = labels[Math.floor(Math.random() * labels.length)]
                span(class="label label-"+label)=val

      section#contacts
        h2.text-center Контакты
        .row
          .col-md-6
            p &nbsp;
            p © <span itemprop="name">Yevgeny</span> <span itemprop="familyName">Skuridin</span>, 2013
            p.
              Нашли ошибку? Пожалуйста сообщите об этом в
              <a href="https://github.com/skuridin/skuridin.github.io/issues">GitHub</a>
            .social
              a(href="skype:redfield1990"): i.fa.fa-skype.fa-3x
              a(href="mailto:i@skurid.in"): i.fa.fa-envelope.fa-3x
              a(href="http://www.linkedin.com/in/redfield1990"): i.fa.fa-linkedin.fa-3x
              a(href="https://github.com/skuridin"): i.fa.fa-github.fa-3x
              a(href="https://trello.com/redfield_ru"): i.fa.fa-trello.fa-3x
              a(href="https://plus.google.com/+YevgenySkuridin?rel=author"): i.fa.fa-google-plus.fa-3x

    //- script(src="//code.jquery.com/jquery.min.js")
    //- script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
    //- script(src="js/app.js")
